@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.new-comment-form {
  margin: 0 1rem;
  @include flexbox(
    $flex-direction: row,
    $align-items: flex-start,
    $justify-content: flex-start
  );
  &__img-container {
    padding-top: 1.6rem;
  }
  &__formfields {
    @include flexbox($flex-direction: column, $align-items: flex-start);
    width: 80%;
  }
  &__btn-container {
    width: 100%;
  }
  @include tablet {
    margin: 1rem 2rem;
    @include flexbox(
      $flex-direction: row,
      $justify-content: flex-start,
      $align-items: flex-start
    );
    &__formfields {
      @include flexbox($flex-direction: row, $justify-content: space-evenly);
      width: 90%;
    }
    &__btn-container {
      margin-top: 30px;
    }
  }
  @include desktop {
    margin: 1rem 0rem 1rem 2rem;
    padding-right: 1rem;
  }
}
