@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flexbox($flex-direction: column);
  padding: 1rem;
  border-bottom: 1px solid $mercury;
  &__search-container {
    @include flexbox($justify-content: space-between);
    width: 100%;
  }
  &--home-link {
    align-self: center;
  }
  &--upload-link {
    text-decoration: none;
    width: 100%;
  }
  @include tablet {
    padding: 1.5rem 2rem;
    @include flexbox($flex-direction: row, $justify-content: space-between);
    &__container {
      @include flexbox($flex-direction: row, $justify-content: space-between);
      width: 70%;
    }
    &--upload-link {
      width: auto;
    }
  }
  @include desktop {
    padding: 1rem 4rem;
    &__container {
      @include flexbox(
        $flex-direction: row,
        $justify-content: space-between,
        $gap: 16px
      );
      width: 40%;
    }
  }
}
