@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-player {
  background-color: $dark-black;
  width: 100%;
  aspect-ratio: 16/9;
  &__video-input {
    width: 100%;
    object-fit: cover;
  }
}
