@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.user-avatar {
  border-radius: 50%;
  background-color: $mercury;
  object-fit: cover;
  width: 2.25rem;
  height: 2.25rem;
  &--no-img {
    border-radius: 50%;
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
  }
  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}
