@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.user-avatar {
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: $mercury;
  & > img {
    width: 130%;
    height: 100%;
    object-fit: cover;
  }
  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}
