@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.search {
  width: calc(100% - 60px);
  @include input;
  @include flexbox($gap: 0.3rem, $justify-content: flex-start);
  &__input {
    border: none;
    background-color: $alabaster;
    @include text-style();
    outline: none;
  }
  &__icon {
    color: $black;
    font-size: 1rem;
  }
}
