@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.search {
  @include flexbox($gap: 0.3rem);
  @include input;
  &__input {
    border: none;
    background-color: $alabaster;
    font-family: $font-family;
  }
  &__icon {
    color: $black;
    font-size: 1rem;
  }
}
