@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
* {
  overflow-x: hidden;
}
.video-information {
  margin: 0px 1rem;
}
.comments-list {
  margin: 1rem;
  &__label {
    margin: 1rem;
    font-weight: 700;
  }
  &__item {
    border-top: 1px solid $mercury;
    &:last-child {
      border-bottom: 1px solid $mercury;
    }
  }
}
.video-list {
  @include flexbox($flex-direction: column, $align-items: flex-start);
  margin: 0 1rem;
  &__heading {
    color: $silver;
    text-align: left;
  }
}
