@use "./styles/partials/variables" as *;
* {
  overflow-x: hidden;
}
.video-information {
  margin: 0px 1rem;
}
.comments-list {
  margin: 1rem;
  &__item {
    border-top: 1px solid $mercury;
    &:last-child {
      border-bottom: 1px solid $mercury;
    }
  }
}
