@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.btn {
  background-color: $blue;
  border: none;
  position: relative;
  @include flexbox($justify-content: center, $align-items: center);
  @include text-style(
    $color: $white,
    $font-size: 0.75rem,
    $line-height: 1.25rem,
    $font-weight: 600,
    $text-transform: uppercase
  );
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  &__icon {
    position: absolute;
    left: 10px;
  }
  @include tablet {
    width: 9.375rem;
    cursor: pointer;
    &:hover {
      background-color: $dark-blue;
    }
  }
}
