@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  background-color: $blue;
  border: none;
  @include flexbox($justify-content: flex-start, $gap: 4rem);
  @include text-style(
    $color: $white,
    $font-size: 0.75rem,
    $line-height: 1.25rem,
    $font-weight: 600,
    $text-transform: uppercase
  );
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  @include tablet {
    cursor: pointer;
    &:hover {
      background-color: $dark-blue;
    }
  }
}
