@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-list-item {
  @include flexbox($align-items: stretch);
  &__thumnail-card {
    background-color: $mercury;
    border-radius: 4px;
    object-fit: cover;
    width: 50%;
  }
  &__details {
    @include flexbox(
      $flex-direction: column,
      $align-items: flex-start,
      $justify-content: space-between
    );
    width: 50%;
  }
  &__name {
    @include text-style($font-weight: 600);
    margin-top: -1.5px;
  }
  &__maker-name {
    @include text-style();
  }
  @include tablet {
    @include flexbox(
      $justify-content: flex-start,
      $align-items: stretch,
      $gap: 1.5rem
    );
    &__thumnail-card {
      width: 25%;
      @include flexbox($align-items: flex-start);
    }
    &__details {
      width: 25%;
    }
    &__name {
      @include text-style(
        $font-size: 0.875rem,
        $line-height: 1.125rem,
        $font-weight: 600
      );
    }
    &__maker-name {
      @include text-style($font-size: 0.875rem, $line-height: 1.125rem);
    }
  }
}
