@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-list-item {
  @include flexbox($justify-content: space-between, $align-items: flex-start);
  &__thumnail-card {
    background-color: $mercury;
    border-radius: 4px;
    object-fit: cover;
    width: 50%;
  }
  &__details {
    @include flexbox(
      $flex-direction: column,
      $align-items: flex-start,
      $justify-content: flex-start,
      $gap: 0rem
    );
    width: 50%;
  }
  &__name {
    font-weight: 600;
    margin-top: -1.5px;
  }
  &__maker-name {
    line-height: 1.3;
  }
}
