@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-list-item {
  @include flexbox($align-items: stretch);
  &__thumnail-card {
    background-color: $mercury;
    border-radius: 4px;
    object-fit: cover;
    width: 50%;
  }
  &__details {
    @include flexbox(
      $flex-direction: column,
      $align-items: flex-start,
      $justify-content: space-between
    );
    width: 50%;
  }
  &__name {
    @include text-style($font-weight: 600);
    margin-top: -1.5px;
  }
  &__maker-name {
    @include text-style();
  }
}
