@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-details {
  @include flexbox(
    $flex-direction: row,
    $justify-content: flex-start,
    $align-items: center
  );
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  &__name-date {
    @include flexbox(
      $flex-direction: column,
      $align-items: flex-start,
      $gap: 0rem
    );
  }
  &__name {
    font-weight: bold;
    padding-top: 20px;
    line-height: 1rem;
  }
  &__date {
    color: $silver;
    padding-bottom: 10px;
  }
  &__views-likes {
    @include flexbox($flex-direction: column);
    color: $silver;
  }
  &__views {
    @include flexbox($gap: 1rem);
  }
  &__likes {
    @include flexbox($gap: 1rem);
  }
}
